#************************** APP ***************************************************************#
PORT=
VERIFICATION_CODE_LENGTH=
PORT=

#**************************** DATABASE ********************************************************#
DATABASE_URL=

#*************************** TWILIO ***********************************************************#
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_NUMBER=
TWILIO_GATHEREASE_SID=

#**************************** JWT *************************************************************#
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

#******************************* HASHING ******************************************************#
SALT_ROUNDS=

# ****************************************** CLOUDINARY ****************************************#
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=

